node_modules/
buildum.sh
main.js
*.js.map
.DS_Store
Thumbs.db
files-used-in-plugin.txt
install-missing-node_modules.sh
main.js
runall.sh
settokenauth.sh
obsidian_manifest.json
obsidian_plugin.ts
data.json
files-containing-id.txt
